@import 'variables';
@import 'header';

.box{
    background-color: $box-background;
    color: $text-color;
    border: 2px solid $red-color;
}
h1{
    color: $violet-color;
    background-color: $red-color;
    padding: $normal-padding;
    margin: 0px;
}
p{
    padding: $normal-padding;
}

@mixin button-common-style{
    padding: $normal-padding;
    text-align: center;
    font-size: 19px;
    border-radius: 10px;
    line-height: 40px;
}

.login-button{
	@include button-common-style;
	background-color: gray;
	color: black;
}
.reg-button{
	@include button-common-style;
	background-color: black;
	color: white;
}
.yes-button{
	@include button-common-style;
	background-color: green;
	color: white;
}
.no-button{
	@include button-common-style;
	background-color: red;
	color: white;
}