@import 'variables';
@import 'header';

.box{
    background-color: $box-background;
    color: $text-color;
    border: 2px solid $red-color;
}
h1{
    color: $violet-color;
    background-color: $red-color;
    padding: $normal-padding;
    margin: 0px;
}
p{
    padding: $normal-padding;
}
/*Mixin Practice Begin*/
@mixin button-common-style{
    padding: $normal-padding;
    text-align: center;
    font-size: 19px;
    border-radius: 10px;
    line-height: 40px;
}

.login-button{
	@include button-common-style;
	background-color: gray;
	color: black;
}
.reg-button{
	@include button-common-style;
	background-color: black;
	color: white;
}
.yes-button{
	@include button-common-style;
	background-color: green;
	color: white;
}
.no-button{
	@include button-common-style;
	background-color: red;
	color: white;
}
/*Mixin Practice End*/

/*Passing variable into Mixin Practice Begin*/
@mixin colorful-box($box-width, $box-bg-color, $box-text-color){
    width: $box-width;
    background-color: $box-bg-color;
    color: $box-text-color;
    padding: 20px;
    margin: 20px;
    float: left;
}
#colorful-box1{
    @include colorful-box(200px, aqua, black);
}
#colorful-box2{
    @include colorful-box(300px, violet, white);
}
#colorful-box3{
    @include colorful-box(400px, black, aqua);
}
/*Passing variable into Mixin Practice End*/