@import 'variables';
@import 'header';

.box{
    background-color: $box-background;
    color: $text-color;
    border: 2px solid $red-color;
}
h1{
    color: $violet-color;
    background-color: $red-color;
    padding: $normal-padding;
    margin: 0px;
}
p{
    padding: $normal-padding;
}